.site {
    background-color: #fdfff9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .site .div-2 {
    background-color: #fdfff9;
    border: 1px solid;
    border-color: #0000001a;
    height: 4396px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  
  .site .overlap {
    height: 1621px;
    left: 1px;
    position: absolute;
    top: 2775px;
    width: 1920px;
  }
  
  .site .about {
    height: 1621px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1915px;
  }
  
  .site .more-info-text {
    height: 1325px;
    left: 159px;
    position: relative;
    top: 148px;
    width: 1597px;
  }
  
  .site .join-us-header {
    height: 153px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 514px;
  }
  
  .site .text-wrapper-2 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 62px;
    white-space: nowrap;
  }
  
  .site .join-us-info {
    height: 1056px;
    left: 143px;
    overflow: hidden;
    position: absolute;
    top: 241px;
    width: 959px;
  }
  
  .site .overlap-group {
    height: 917px;
    left: -1px;
    position: relative;
    width: 960px;
  }
  
  .site .join-us-header-info {
    height: 95px;
    left: 0;
    position: absolute;
    top: 0;
    width: 960px;
  }
  
  .site .text-wrapper-3 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 42px;
    font-weight: 400;
    height: 38px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 28px;
    width: 732px;
  }
  
  .site .join-us-text {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
    height: 830px;
    left: 1px;
    position: absolute;
    top: 87px;
    width: 959px;
  }
  
  .site .go-text {
    height: 72px;
    left: 0;
    position: absolute;
    top: 630px;
    width: 959px;
  }
  
  .site .go-text-dot {
    height: 68px;
    left: 0;
    position: absolute;
    top: 0;
    width: 83px;
  }
  
  .site .component-1 {
    border-radius: 5px !important;
    height: 10px !important;
    left: 36px !important;
    position: relative !important;
    top: 42px !important;
    width: 10px !important;
  }
  
  .site .go-text-text {
    height: 68px;
    left: 83px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 807px;
  }
  
  .site .text-wrapper-4 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    height: 84px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: -1px;
    width: 876px;
  }
  
  .site .go-text-2 {
    height: 107px;
    left: 0;
    position: absolute;
    top: 310px;
    width: 951px;
  }
  
  .site .component-wrapper {
    height: 103px;
    left: 0;
    position: absolute;
    top: 0;
    width: 83px;
  }
  
  .site .go-text-text-2 {
    height: 107px;
    left: 83px;
    position: absolute;
    top: 0;
    width: 868px;
  }
  
  .site .text-wrapper-5 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    height: 107px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: -1px;
    width: 868px;
  }
  
  .site .go-text-3 {
    height: 84px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 959px;
  }
  
  .site .component-1-wrapper {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 83px;
  }
  
  .site .entertainment-wrapper {
    height: 84px;
    left: 83px;
    position: absolute;
    top: 0;
    width: 876px;
  }
  
  .site .footer {
    background-color: transparent;
    height: 148px;
    left: 0;
    position: absolute;
    top: 1473px;
    width: 1920px;
  }
  
  .site .text-wrapper-6 {
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 148px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 640px;
  }
  
  .site .text-wrapper-7 {
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 148px;
    left: 640px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 640px;
  }
  
  .site .text-wrapper-8 {
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 148px;
    left: 1280px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 640px;
  }
  
  .site .more-info {
    height: 1675px;
    left: 0;
    position: absolute;
    top: 1100px;
    width: 1920px;
  }
  
  .site .more-info-text-2 {
    height: 1449px;
    left: 155px;
    position: relative;
    top: 129px;
    width: 1602px;
  }
  
  .site .more-info-article-wrapper {
    height: 1246px;
    left: 111px;
    position: absolute;
    top: 203px;
    width: 1022px;
  }
  
  .site .more-info-article {
    height: 1158px;
    left: 32px;
    position: relative;
    top: 37px;
    width: 961px;
  }
  
  .site .more-info-article-2 {
    height: 1030px;
    overflow: hidden;
    position: relative;
    top: 69px;
    width: 959px;
  }
  
  .site .overlap-group-2 {
    height: 903px;
    left: -1px;
    position: absolute;
    top: 60px;
    width: 823px;
  }
  
  .site .flexcontainer-wrapper {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #000000;
    height: 785px;
    left: 0;
    position: absolute;
    top: 118px;
    width: 820px;
  }
  
  .site .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 23px;
    height: 760px;
    position: relative;
    top: 22px;
    width: 818px;
  }
  
  .site .text {
    align-self: stretch;
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-align: justify;
  }
  
  .site .span {
    line-height: 20px;
  }
  
  .site .text-wrapper-9 {
    font-size: 20px;
    line-height: 23px;
  }
  
  .site .text-wrapper-10 {
    font-size: 24px;
    line-height: 20px;
  }
  
  .site .text-wrapper-11 {
    font-size: 20px;
    line-height: 20px;
  }
  
  .site .the-future-of-wrapper {
    height: 119px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 822px;
  }
  
  .site .the-future-of {
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 41.7px;
    font-weight: 400;
    height: 109px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 9px;
    width: 822px;
  }
  
  .site .more-info-author {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 143px;
  }
  
  .site .text-wrapper-12 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 54px;
    left: 3px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-decoration: underline;
    top: 1px;
    width: 137px;
  }
  
  .site .more-info-text-3 {
    height: 203px;
    left: 0;
    position: absolute;
    top: 0;
    width: 924px;
  }
  
  .site .text-wrapper-13 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 82px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 52px;
    width: 924px;
  }
  
  .site .component-instance {
    left: 1333px !important;
    position: absolute !important;
    top: 361px !important;
  }
  
  .site .component-2 {
    left: 1333px !important;
    position: absolute !important;
    top: 618px !important;
  }
  
  .site .component-3 {
    left: 1333px !important;
    position: absolute !important;
    top: 875px !important;
  }
  
  .site .component-4-instance {
    left: 1333px !important;
    position: absolute !important;
    top: 1132px !important;
  }
  
  .site .main {
    background-color: #fdfff9;
    height: 1100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .site .main-info {
    background-color: #fdfff9;
    height: 874px;
    left: 144px;
    position: absolute;
    top: 175px;
    width: 1535px;
  }
  
  .site .main-info-text {
    height: 424px;
    position: relative;
    top: 106px;
  }
  
  .site .p {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 98px;
    left: 111px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 286px;
    width: 1089px;
  }
  
  .site .main-info-text-wrapper {
    height: 204px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 623px;
  }
  
  .site .main-info-text-2 {
    height: 139px;
    left: 106px;
    position: relative;
    top: 33px;
    width: 410px;
  }
  
  .site .text-wrapper-14 {
    color: #222222;
    font-family: "Lato-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    height: 139px;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: -1px;
    width: 351px;
  }
  
  .site .socius-dot {
    height: 139px;
    left: 351px;
    position: absolute;
    top: 0;
    width: 59px;
  }
  
  .site .design-component-instance-node {
    width: unset !important;
  }
  
  .site .main-header {
    height: 175px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .site .main-header-login-wrapper {
    height: 175px;
    left: 1670px;
    position: relative;
    width: 250px;
  }
  